<h2>Inventory</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Genre</th>
    <th>Price (Markup)</th>
    <th>Stock</th>
    <th>Copies Sold</th>
  </tr>
  <% @books.each do |book|%>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author_id %></td>
      <td><%= book.publisher_id %></td>
      <td><%= book.genre %></td>
      <td><%= book.sell_price %> (+£markup)</td>
      <td><%= book.stock_count %></td>
      <td><%= book.copies_sold %></td>
    </tr>
  <% end %>
</table>