<div class="subheader">
  <h2>All Books</h2>
  <a href="/books/new" class="btn">Create New</a>
</div>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Genre</th>
    <th>Buy / Sell / Markup</th>
    <th>Stock</th>
    <th>Copies Sold</th>
  </tr>
  <% @books.each do |book|%>
    <tr>
      <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
      <td><a href="/authors/<%= book.author_id %>"><%= book.author().print_name %></a></td>
      <td><a href="/publishers/<%= book.publisher_id %>"><%= book.publisher().name %></a></td>
      <td><%= book.genre %></td>
      <td>
        £<%= book.print_buy_cost() %> / £<%= book.print_sell_price() %> / £<%= book.print_markup() %>
      </td>
      <td class="<%= book.stock_status() %> center"><%= book.stock_count %></td>
      <td class="center"><%= book.copies_sold %></td>
    </tr>
  <% end %>
</table>