<div class="subheader">
  <h2>All <%= "#{@genre} " %>Books</h2>
  <%= '<a href="/books/new" class="btn">Create New</a>' if !@genre %>
  <h2><%= emoji(@genre) if @genre %></h2>
  <%= '<a href="/books" class="btn red">Remove Filter</a>' if @genre %>
</div>
<table>
  <tr>
    <th><a href=<%= on_click("title") if !@genre %>>Title</a><%= get_arrow("title") %></th>
    <th>Author</th>
    <th>Publisher</th>
    <th><a href=<%= on_click("genre") if !@genre %>>Genre</a><%= get_arrow("genre") %></th>
    <th>Buy / Sell / Markup</th>
    <th><a href=<%= on_click("stock_count") if !@genre %>>Stock</a><%= get_arrow("stock_count") %></th>
    <th><a href=<%= on_click("copies_sold") if !@genre %>>Copies Sold</a><%= get_arrow("copies_sold") %></th>
  </tr>
  <% @books.each do |book|%>
    <tr>
      <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
      <td><a href="/authors/<%= book.author_id %>"><%= book.author().print_name %></a></td>
      <td><a href="/publishers/<%= book.publisher_id %>"><%= book.publisher().name %></a></td>
      <td><a href="/books/filter/<%= book.genre %>"><%= book.genre %></a></td>
      <td>
        £<%= book.print_buy_cost() %> / £<%= book.print_sell_price() %> / £<%= book.print_markup() %>
      </td>
      <td class="<%= book.stock_status() %> center"><%= book.stock_count %></td>
      <td class="center"><%= book.copies_sold %><%= " 🥇" if book.is_bestseller?() %></td>
    </tr>
  <% end %>
</table>