<div class="subheader">
  <h2>Book Details</h2>
  <a class="btn amber" href="/books/<%= @book.id %>/edit">Edit Details</a>
  <form action="/books/<%= @book.id %>/delete" method="post">
    <input class="btn red" type="submit" value="Delete Book">
  </form>
</div>

<table class="horizontal">
  <tr>
    <th scope="row">Title</th>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <th scope="row">Author</th>
    <td><a href="/authors/<%= @book.author_id %>"><%= @book.author().print_name %></a></td>
  </tr>
  <tr>
    <th scope="row">Publisher</th>
    <td><a href="/publishers/<%= @book.publisher_id %>"><%= @book.publisher().name %></a></td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td><%= @book.description %></td>
  </tr>
  <tr>
    <th scope="row">Genre</th>
    <td><%= @book.genre %></td>
  </tr>
</table>

<table class="horizontal">
  <tr>
    <form action="/books/<%= @book.id %>/buy" method="post">
      <th scope="row"><label for="buy-copies">Buy From Publisher</label></th>
      <td><input type="number" min="0" name="copies" id="buy-copies"><input class="btn" type="submit" value="Buy"></td>
    </form>
  </tr>
  <tr>
    <form action="/books/<%= @book.id %>/sell" method="post">
      <th scope="row"><label for="sell-copies">Sell To Customer</label></th>
      <td><input type="number" min="0" name="copies" id="sell-copies"><input class="btn" type="submit" value="Sell"></td>
    </form>
  </tr>
</table>

<table>
  <tr>
    <th scope="row">Buy Cost</th>
    <th scope="row">Sell Price</th>
    <th scope="row">Markup</th>
    <th scope="row">Stock</th>
    <th scope="row">Copies Sold</th>
  </tr>
  <tr>
    <td>£<%= @book.print_buy_cost() %></td>
    <td>£<%= @book.print_sell_price() %></td>
    <td>£<%= @book.print_markup() %></td>
    <td class=<%= @book.stock_status() %>><%= @book.stock_count %></td>
    <td><%= @book.copies_sold %></td>
  </tr>
</table>
