<h2>Author Details</h2>
<table class="horizontal">
  <tr>
    <th scope="row">First Name</th>
    <td><%= @author.first_name %></td>
  </tr>
  <tr>
    <th scope="row">Last Name</th>
    <td><%= @author.last_name %></td>
  </tr>
  <tr>
    <td><a href="/authors/<%= @author.id %>/edit">Edit Details</a></td>
    <td>
      <form action="/authors/<%= @author.id %>/delete" method="post">
        <input type="submit" value="Delete Author">
      </form>
    </td>
  </tr>
</table>
<h3>Books by <%= @author.print_name() %></h3>
<table>
  <tr>
    <th>Title</th>
    <th>Publisher</th>
    <th>Genre</th>
    <th>Price (Markup)</th>
    <th>Stock</th>
    <th>Copies Sold</th>
  </tr>
  <% @books.each do |book|%>
    <tr>
      <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
      <td><a href="/publishers/<%= book.publisher_id %>"><%= book.publisher().name %></a></td>
      <td><%= book.genre %></td>
      <td><%= book.print_sell_price() %> (+<%= book.print_markup() %>)</td>
      <td><%= book.stock_count %></td>
      <td><%= book.copies_sold %></td>
    </tr>
  <% end %>
</table>