<div class="subheader">
  <h2>Edit Publisher</h2>
</div>
<form action="/publishers/<%= @publisher.id %>" method="post">
  <table class="horizontal">
    <tr>
      <th scope="row"><label for="name">Name</label></th>
      <td><input type="text" name="name" id="name" value="<%= @publisher.name %>" required></td>
    </tr>
    <tr>
      <th scope="row"><label for="address">Address</label></th>
      <td><textarea name="address" id="address"><%= @publisher.address %></textarea></td>
    </tr>
    <tr>
      <th scope="row"><label for="email">Email</label></th>
      <td><input type="email" name="email" id="email" value="<%= @publisher.email %>"></td>
    </tr>
    <tr>
      <th scope="row"><label for="phone-number">Phone Number</label></th>
      <td><input type="tel" name="phone_number" id="phone-number" value="<%= @publisher.phone_number %>"></td>
    </tr>
  </table>
  <input class="btn amber" type="submit" value="Update Publisher">
</form>