<div class="subheader">
  <h2>All Publishers</h2>
  <a href="/publishers/new" class="btn">Create New</a>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <% @publishers.each do |publisher|%>
    <tr>
      <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name %></a></td>
      <td><a href="mailto: <%= publisher.email %>" target="_blank"><%= publisher.email %></a></td>
      <td><%= publisher.phone_number %></td>
    </tr>
  <% end %>
</table>