<div class="subheader">
  <h2>Publisher Details</h2>
  <a class="btn amber" href="/publishers/<%= @publisher.id %>/edit">Edit Details</a>
  <form action="/publishers/<%= @publisher.id %>/delete" method="post">
    <input class="btn red" type="submit" value="Delete Publisher">
  </form>
</div>

<table class="horizontal">
  <tr>
    <th scope="row">Name</th>
    <td><%= @publisher.name %></td>
  </tr>
  <tr>
    <th scope="row">Address</th>
    <td><%= @publisher.address %></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><a href="mailto: <%= @publisher.email %>" target="_blank"><%= @publisher.email %></a></td>
  </tr>
  <tr>
    <th scope="row">Phone Number</th>
    <td><%= @publisher.phone_number %></td>
  </tr>
</table>

<h3>Published by <%= @publisher.name %></h3>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Buy / Sell / Markup</th>
    <th>Stock</th>
    <th>Copies Sold</th>
  </tr>
  <% @books.each do |book|%>
    <tr>
      <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
      <td><a href="/authors/<%= book.author_id %>"><%= book.author().print_name %></a></td>
      <td><%= book.genre %></td>
      <td>
        £<%= book.print_buy_cost() %> / £<%= book.print_sell_price() %> / £<%= book.print_markup() %>
      </td>
      <td class="<%= book.stock_status() %> center"><%= book.stock_count %></td>
      <td class="center"><%= book.copies_sold %><%= " 🥇" if book.is_bestseller?() %></td>
    </tr>
  <% end %>
</table>